# Dependencies
node_modules/
**/node_modules/

# Production Builds
dist/
**/dist/

# Environment files
.env
.env.local
.env.*.local
**/.env
**/.env.local

# Local SQLite Database
*.sqlite
backend/*.sqlite

# Logs & OS artifacts
*.log
npm-debug.log*
.DS_Store
Thumbs.db
